/* Main elements that will be used often */

body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	line-height: 20px;
	font-weight: 600;
	margin: 0;
	color: #555;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: #555;
}
h4 {
	font-weight: 500;
	color: #555;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 14px;
}
a {
	color: #f0bb3d;
}
a:hover, a:focus {
	text-decoration: none;
	color: #f0bb3d;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 8px;
	width: 100px;
	text-align: center;
	position: relative;
	background: #f0bb3d;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

/* Loading Screen Elements: */

#loadingscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	z-index: 99999;
	height: 100%;
}
#loadingstatus {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}

/* Navigation Bar Elements: */

.navbar-custom {
	padding: 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: grey;
	text-transform: uppercase;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand i.fas {
	color: #f0bb3d;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-toggle {
	color: white;
	font-size: 18px;
	border-radius: 2px;
	padding: 4px 4px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #f0bb3d;
	color: white;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: white;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #f0bb3d;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #f0bb3d;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: white;
}

/* Section Common Elements: */

.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	margin-bottom: 30px;
}
.space {
	margin-top: 40px;
}
.text {
	margin-left: 18px;
}

/* Landing Page Elements: */

#header {
	position:relative;
	width: 100%;
	height: 100%;
	background: black;
}
#header .header-body {
	position:relative;
	width: 100%;
	height: 100%;
	background: black;
}
#header .split.left h1 {
	font-size: 6rem;
	color: white;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
	white-space: nowrap;
}
#header .split.right h1 {
	font-size: 4rem;
	color: white;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
	white-space: normal;
}
.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.split.left {
	text-align: center;
	left:0;
	background:  url('http://yesofcorsa.com/wp-content/uploads/2018/02/Neural-Network-Art-Wallpaper-Free.png') center center no-repeat;
	background-size: cover;
}
.split.left:before {
	text-align: center;
	position:absolute;
	width: 100%;
	height: 100%;
}
.split.right {
	text-align: center;
	right:0;
	background: black;
	background-size: cover;
}
.split.right:before {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
}
.split.left, .split.right, .split.right:before, .split.left:before {
	transition: 1000ms all ease-in-out;
}
.hover-left .left {
	width: 75%;
}
.hover-left .right {
	width: 25%;
}
.hover-left .right:before {
	z-index: 2;
}
#header .button {
	display: block;
	position: absolute;
	left: 50%;
	top: 83.5%;
	height: 6rem;
	padding-top: 1.3rem;
	width: 50rem;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border: #fff solid 0.2rem;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
}
.split.left .button:hover {
  background-color: blue;
  border-color: blue;
}
#header .arrow {
	position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#header .arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
#header .arrow span:nth-child(2){
    animation-delay: -0.2s;
}
#header .arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
@media (max-width: 768px) {
#header .split.left h1 {
	font-size: 3rem;
}
#header .split.right h1 {
	font-size: 2rem;
}
#header .arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
}

/* Introduction Elements: */

#introduction {
	padding: 140px 0;
	background: black;
	background-size: cover;
	background-attachment: fixed;
}
#introduction .introduction-text {
	margin-left: px;
}
#introduction h2 {
	color: white;
}
#introduction h4 {
	font-size: 20px;
	color: #f0bb3d;
}
#introduction h2 {
	color: white;
}
#introduction li {
	color: white;
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 16px;
	color: white;
}
#introduction li:before {
	font-weight: 600;
	padding-right: 10px;
	color: #f0bb3d;
}
#introduction p {
	color: white;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;
	color: white;
}
#introduction i.fas {
	font-size: 16px;
	color: #f0bb3d;
	padding: 4px 6px;
}

/* Benefits section: */

#benefits {
	padding: 140px 0;
	background: #f6f6f6;
	background-size: cover;
	background-attachment: fixed;
}
#benefits .benefits-text {
	margin-left: 10 px;
}
#benefits h4 {
	font-size: 20px;
}
#benefits p {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;
}
#benefits i.fas {
	font-size: 250px;
	color: #f0bb3d;
	padding: 4px 6px;
}

/* Database (and comparison) section: */

#databases {
	padding: 140px 0;
	background: black;
	background-size: cover;
	background-attachment: fixed;
}
#databases .data {
	padding: 20px 10px;
}
#databases .databases-text {
	margin-left: 10px;
}
#databases h2 {
	color: white;
}
#databases h3 {
	padding: 1px 0;
	font-size: 20px;
	font-weight: 600;
	color: white;
}
#databases h4 {
	font-size: 20px;
	color: #f0bb3d;
}
#databases p {
	color: white;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;
}
#databases i.fas {
	padding: 12px 0;
	font-size: 48px;
	color: #f0bb3d;
}
#databases .count {
	font-size: 20px;
	font-weight: 600;
	color: white;
}

/* How It Works Section: */

#howitworks {
	padding: 140px 0;
	background: #f6f6f6;
	background-size: cover;
	background-attachment: fixed;
}
#howitworks .howitworks-text {
	margin-left: 10 px;
}
#howitworks h4 {
	font-size: 20px;
	color: #f0bb3d;
}
#howitworks p {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;
}
#howitworks i.fas {
	font-size: 250px;
	color: #f0bb3d;
	padding: 4px 6px;
}

/* Footer Elements: */

#footer {
	background: grey;
	color: white;
	padding: 15px 0;
	text-align: center;
}
#footer h1 {
	color: black;
}
#footer h3 {
	color: white;
	font-size: 15px;
	margin-top: 10px;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}
#footer i.far {
	color: #f0bb3d;
	font-size: 25px;
}
#footer i.far:hover {
	cursor: pointer;
	color: red;
}
#footer .modal {
	top: 40%
}
#footer .modal {
}
#footer .modal .modal-header {
	background-color: black;
}
#footer .modal .modal-footer {
	color: black;
}
#footer .modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(2px) grayscale(60%);
	-khtml-user-select: blur(2px) grayscale(60%);
	-moz-user-select: blur(2px) grayscale(60%);
	-ms-user-select: blur(2px) grayscale(60%);
	-o-user-select: blur(2px) grayscale(60%);
}
@media (max-width: 768px) {
.hover-bg .hover-text {
	padding: 20%;
}
}
